@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans+Narrow&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'PT Sans Narrow', sans-serif
}
body{
    background: #efefef;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 60px;
    height: 60px;
    margin-right: 45px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
 
.nav-left ul li{
    list-style: none;
    display:inline-block

}
.nav-left ul li img {
    padding-left: 5px;
    width: 30px;
    height: 30px;
    margin: 0 15px;
    border-radius: 25px;
    cursor: pointer;
}

.profile-icon img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.search-box img{
    width: 20px;
    height: 20px; 
    margin-left: 10px;
}
.search-box{
    background: #efefef;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content:'';
    height: 7px;
    width: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 13px 5%;
}
.left-sidebar{
    
    flex-basis: 25%;
    position: sticky;
    top: 70%;
    align-self: flex-start;
    
}
.right-sidebar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70%;
    align-self: flex-start;
    
}

.middle-content{
    flex-basis: 47%;

}
.imp-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}
.imp-links a:last-child{
    color: #1876f2;
}